<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redflag.capstone.com.redflag" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LoginSuccessActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login_success" >
        </activity>
        <activity
            android:name=".StudentListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_student_list_by_school" >
        </activity>
        <activity
            android:name=".FilterStudentBySchoolActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_filter_student_by_school" >
        </activity>

        <activity android:name="AndroidDatabaseManager"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="AndroidDatabaseManager"/>

        <activity
            android:name=".ScreeningTestListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_screeningtest_list"
            android:parentActivityName=".StudentListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="redflag.capstone.com.redflag.StudentListActivity" />
        </activity>
        <activity
            android:name=".ScreeningTestDetailActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_screeningtest_detail"
            android:parentActivityName=".ScreeningTestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="redflag.capstone.com.redflag.ScreeningTestListActivity" />
        </activity>
        <activity
            android:name=".StudentSearchAndListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_student_search_and_list" >
        </activity>
        <activity
            android:name=".RegisterStudentActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_register_student" >
        </activity>
        <activity
            android:name=".StudentDetailsActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_student_details" >
        </activity>
        <activity
            android:name=".ReportActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".DummyListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_dummy_list" >
        </activity>
        <activity
            android:name=".EnregistrementVideoStackActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_enregistrement_video_stack" >
        </activity>
        <activity
            android:name=".VideoCapture"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_video_capture" >
        </activity>
    </application>

</manifest>
